/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography";
@import "compass/utilities";
@import "compass/reset";

@mixin inner-shadow {
  box-shadow: inset 0 2px 0 0 rgba(25, 25, 25, .2);
}

@mixin inner-shadow-bar {
  box-shadow: inset 0 2px 2px 0 rgba(25, 25, 25, .2);
}

@mixin inner-shadow-active-element {
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}

.slider {
  width: 960px;
  margin: 0 auto;
  position: relative;
  font-size: 14px;
  > .pagination-wrap {
    color: #444;
    margin: 80px auto;
    max-width: 960px;
    position: relative;
    font-family: Arial, sans-serif;
    > .pagination-bar {
      @include inner-shadow-bar;
      background: #f0f0f0;
      border-radius: 15px;
      height: 10px;
      margin: 0 auto;
      padding: 0;
      position: absolute;
      width: 100%;
      > li {
        display: inline-block;
        margin: 0 180px 0 0;
        padding: 0;
        text-align: center;
        width: 0;
        color: #a3a3a3;
        font-size: 16px;
        font-weight: 600;
        position: relative;
        cursor: pointer;
        &:hover {
          .pagination-active-element {
            &:before {
              color: #333;
            }
          }
        }
        &:before {
          @include inner-shadow;
          height: 40px;
          left: 40%;
          position: absolute;
          top: -28px;
          width: 40px;
          z-index: 99;
          background: #f0f0f0;
          border-radius: 50%;
          content: " ";
        }
        &:nth-child(1) {
          &.active {
            .pagination-active-element {
              background: linear-gradient(to top, rgba(40, 112, 196, 1), rgba(40, 112, 196, 0.7));
              @include inner-shadow-active-element;
            }
          }
          .pagination-active-element {
            &:before {
              content: "1";
            }
          }
        }
        &:nth-child(2) {
          &.active {
            .pagination-active-element {
              background: linear-gradient(to top, rgba(75, 201, 229, 1), rgba(75, 201, 229, 0.7));
              @include inner-shadow-active-element;
            }
          }
          .pagination-active-element {
            &:before {
              content: "2";
            }
          }
        }
        &:nth-child(3) {
          &.active {
            .pagination-active-element {
              background: linear-gradient(to top, rgba(71, 182, 22, 1), rgba(71, 182, 22, 0.7));
              @include inner-shadow-active-element;
            }
          }
          .pagination-active-element {
            &:before {
              content: "3";
            }
          }
        }
        &:nth-child(4) {
          &.active {
            .pagination-active-element {
              background: linear-gradient(to top, rgba(255, 125, 0, 1), rgba(255, 125, 0, 0.7));
              @include inner-shadow-active-element;
            }
          }
          .pagination-active-element {
            &:before {
              content: "4";
            }
          }
        }
        &:nth-child(5) {
          &.active {
            .pagination-active-element {
              background: linear-gradient(to top, rgba(227, 48, 166, 1), rgba(227, 48, 166, 0.7));
              @include inner-shadow-active-element;
            }
          }
          .pagination-active-element {
            &:before {
              content: "5";
            }
          }
        }
        &:nth-child(6) {
          &.active {
            .pagination-active-element {
              background: linear-gradient(to top, rgba(40, 112, 196, 1), rgba(40, 112, 196, 0.7));
              @include inner-shadow-active-element;
            }
          }
          .pagination-active-element {
            &:before {
              content: "6";
            }
          }
        }
        &:last-child {
          margin-right: -1px;
        }
        &.active {
          > .pagination-active-element {
            background: linear-gradient(to top, rgba(71, 182, 22, 1), rgba(71, 182, 22, 0.7));
            @include inner-shadow-active-element;
            &:before {
              color: #fff;
            }
          }
        }
        > .pagination-active-element {
          height: 34px;
          width: 34px;
          background: transparent;
          position: absolute;
          border-radius: 50%;
          top: -25px;
          z-index: 100;
          left: 3px;
          &:before {
            content: " ";
            color: #a3a3a3;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            line-height: 40px;
            top: -3px;
            left: 12px;
            position: absolute;
          }
        }
      }
    }
  }
  .arrow-btn {
    position: absolute;
    top: 150px;
    width: 92px;
    height: 92px;
    font: 12pt arial, tahoma, sans-serif;
    text-align: center;
    border: none;
    background: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    }
    &:focus {
      outline: none;
    }
    &:active {
      background: #f0f0f0;
      border: none;
      box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, .1);
      &.left {
        &:before {
          top: 6%;
        }
        &:after {
          top: 40%;
        }
      }
      &.right {
        &:before {
          top: 6%;
        }
        &:after {
          top: 40%;
        }
      }
    }
    &.left {
      left: 0px;

      &:before {
        content: '';
        position: absolute;
        top: 7%;
        left: 40%;
        height: 54%;
        width: 6%;
        background: rgba(71, 182, 22, 1);
        -webkit-transform: rotateZ(45deg);
        -moz-transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg);
        -o-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
      }
      &:after {
        content: '';
        position: absolute;
        top: 41%;
        left: 40%;
        height: 54%;
        width: 6%;
        background: rgba(71, 182, 22, 1);
        -webkit-transform: rotateZ(-45deg);
        -moz-transform: rotateZ(-45deg);
        -ms-transform: rotateZ(-45deg);
        -o-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
      }
    }
    &.right {
      right: 0px;

      &:before {
        content: '';
        position: absolute;
        top: 7%;
        right: 40%;
        height: 54%;
        width: 6%;
        background: rgba(71, 182, 22, 1);
        -webkit-transform: rotateZ(135deg);
        -moz-transform: rotateZ(135deg);
        -ms-transform: rotateZ(135deg);
        -o-transform: rotateZ(135deg);
        transform: rotateZ(135deg);
      }
      &:after {
        content: '';
        position: absolute;
        top: 41%;
        right: 40%;
        height: 54%;
        width: 6%;
        background: rgba(71, 182, 22, 1);
        -webkit-transform: rotateZ(-135deg);
        -moz-transform: rotateZ(-135deg);
        -ms-transform: rotateZ(-135deg);
        -o-transform: rotateZ(-135deg);
        transform: rotateZ(-135deg);
      }
    }
  }
  .content {
    margin: 20px auto;
    width: 720px;
    height: 320px;
    position: relative;
    top: 40px;
    > .image {
      width: 338px;
      height: 338px;
      background-color: white;
      background-size: cover;
      border-radius: 50%;
      display: inline-block;
      float: left;
      &:after {
        content: " ";
        position: absolute;
        bottom: -22px;
        left: -5px;
        width: 348px;
        height: 348px;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
        border-radius: 50%;
      }
    }
    > .text-block {
      display: inline-block;
      width: 380px;
      float: right;
      position: absolute;
      top: 35%;
      left: 50%;
      font-family: Verdana, Arial, sans-serif;
      > .title {
        font-size: 1.714em;
        color: rgba(71, 182, 22, 1);
        margin-bottom: 10px;
      }
      > .text {
        font-size: 0.929em;
        line-height: 18px;
        margin: 0;
        > a {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}



