/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography";
@import "compass/utilities";
@import "compass/reset";



@mixin inner-shadow {
  -webkit-box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, .2); box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, .2);
}


.slider {
  .pagination-wrap {
    color: #444;
    margin: 80px auto;
    max-width: 960px;
    position: relative;
    font-family: Arial;
    .pagination-bar {
      @include inner-shadow;
      background: #f0f0f0;
      border-radius: 15px;
      height: 15px;
      margin: 0 auto;
      padding: 0;
      position: absolute;
      width: 100%;
      li {
        display: inline-block;
        margin: 0 180px 0 0;
        padding: 0;
        text-align: center;
        width: 0;
        color: #a3a3a3;
        font-size: 16px;
        font-weight: 600;
        position: relative;
        &:hover {
          .pagination-active-element {
            &:before {
              color: #333;
            }
          }
        }
        &:before {
          @include inner-shadow;
          height: 40px;
          left: 40%;
          position: absolute;
          top: -28px;
          width: 40px;
          z-index: 99;
          background: #f0f0f0;
          border-radius: 50%;
          content: " ";
        }
        &:nth-child(1) {
          &.active {
            .pagination-active-element {
              background: linear-gradient(to top, rgba(40,112,196,1), rgba(40,112,196,0.7));
              box-shadow: 0px -1px 0 0 rgba(0,0,0,0.4) inset;
            }
          }
          .pagination-active-element{
            &:before {
              content: "1";
            }
          }
        }
        &:nth-child(2) {
          &.active {
            .pagination-active-element {
              background: linear-gradient(to top, rgba(75,201,229,1), rgba(75,201,229,0.7));
              box-shadow: 0px -1px 0 0 rgba(0,0,0,0.4) inset;
            }
          }
          .pagination-active-element{
            &:before {
              content: "2";
            }
          }
        }
        &:nth-child(3) {
          &.active {
            .pagination-active-element {
              background: linear-gradient(to top, rgba(71,182,22,1), rgba(71,182,22,0.7));
              box-shadow: 0px -1px 0 0 rgba(0,0,0,0.4) inset;
            }
          }
          .pagination-active-element{
            &:before {
              content: "3";
            }
          }
        }
        &:nth-child(4) {
          &.active {
            .pagination-active-element {
              background: linear-gradient(to top, rgba(255,125,0,1), rgba(255,125,0,0.7));
              box-shadow: 0px -1px 0 0 rgba(0,0,0,0.4) inset;
            }
          }
          .pagination-active-element{
            &:before {
              content: "4";
            }
          }
        }
        &:nth-child(5) {
          &.active {
            .pagination-active-element {
              background: linear-gradient(to top, rgba(227,48,166,1), rgba(227,48,166,0.7));
              box-shadow: 0px -1px 0 0 rgba(0,0,0,0.4) inset;
            }
          }
          .pagination-active-element{
            &:before {
              content: "5";
            }
          }
        }
        &:nth-child(6) {
          &.active {
            .pagination-active-element {
              background: linear-gradient(to top, rgba(40,112,196,1), rgba(40,112,196,0.7));
              box-shadow: 0px -1px 0 0 rgba(0,0,0,0.4) inset;
            }
          }
          .pagination-active-element{
            &:before {
              content: "6";
            }
          }
        }
        &:last-child {
          margin-right: 0;
        }
        &.active {
          .pagination-active-element {
            background: linear-gradient(to top, rgba(71,182,22,1), rgba(71,182,22,0.7));
            box-shadow: 0px -1px 0 0 rgba(0,0,0,0.4) inset;
            &:before {
              color: #fff;
            }
          }
        }
        .pagination-active-element {
          height: 30px;
          width: 30px;
          background: transparent;
          position: absolute;
          border-radius: 50%;
          top: -23px;
          z-index: 100;
          left: 5px;
          &:before {
            content: " ";
            color: #a3a3a3;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            line-height: 40px;
            top: -4px;
            left: 10px;
            position: absolute;
          }
        }
      }
    }
  }
}



