/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 24, ../sass/screen.scss */
.slider {
  width: 960px;
  margin: 0 auto;
  position: relative;
  font-size: 14px;
}
/* line 29, ../sass/screen.scss */
.slider > .pagination-wrap {
  color: #444;
  margin: 80px auto;
  max-width: 960px;
  position: relative;
  font-family: Arial, sans-serif;
}
/* line 35, ../sass/screen.scss */
.slider > .pagination-wrap > .pagination-bar {
  box-shadow: inset 0 2px 2px 0 rgba(25, 25, 25, 0.2);
  background: #f0f0f0;
  border-radius: 15px;
  height: 10px;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  width: 100%;
}
/* line 44, ../sass/screen.scss */
.slider > .pagination-wrap > .pagination-bar > li {
  display: inline-block;
  margin: 0 180px 0 0;
  padding: 0;
  text-align: center;
  width: 0;
  color: #a3a3a3;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  cursor: pointer;
}
/* line 57, ../sass/screen.scss */
.slider > .pagination-wrap > .pagination-bar > li:hover .pagination-active-element:before {
  color: #333;
}
/* line 62, ../sass/screen.scss */
.slider > .pagination-wrap > .pagination-bar > li:before {
  box-shadow: inset 0 2px 0 0 rgba(25, 25, 25, 0.2);
  height: 40px;
  left: 40%;
  position: absolute;
  top: -28px;
  width: 40px;
  z-index: 99;
  background: #f0f0f0;
  border-radius: 50%;
  content: " ";
}
/* line 76, ../sass/screen.scss */
.slider > .pagination-wrap > .pagination-bar > li:nth-child(1).active .pagination-active-element {
  background: linear-gradient(to top, #2870c4, rgba(40, 112, 196, 0.7));
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}
/* line 82, ../sass/screen.scss */
.slider > .pagination-wrap > .pagination-bar > li:nth-child(1) .pagination-active-element:before {
  content: "1";
}
/* line 89, ../sass/screen.scss */
.slider > .pagination-wrap > .pagination-bar > li:nth-child(2).active .pagination-active-element {
  background: linear-gradient(to top, #4bc9e5, rgba(75, 201, 229, 0.7));
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}
/* line 95, ../sass/screen.scss */
.slider > .pagination-wrap > .pagination-bar > li:nth-child(2) .pagination-active-element:before {
  content: "2";
}
/* line 102, ../sass/screen.scss */
.slider > .pagination-wrap > .pagination-bar > li:nth-child(3).active .pagination-active-element {
  background: linear-gradient(to top, #47b616, rgba(71, 182, 22, 0.7));
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}
/* line 108, ../sass/screen.scss */
.slider > .pagination-wrap > .pagination-bar > li:nth-child(3) .pagination-active-element:before {
  content: "3";
}
/* line 115, ../sass/screen.scss */
.slider > .pagination-wrap > .pagination-bar > li:nth-child(4).active .pagination-active-element {
  background: linear-gradient(to top, #ff7d00, rgba(255, 125, 0, 0.7));
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}
/* line 121, ../sass/screen.scss */
.slider > .pagination-wrap > .pagination-bar > li:nth-child(4) .pagination-active-element:before {
  content: "4";
}
/* line 128, ../sass/screen.scss */
.slider > .pagination-wrap > .pagination-bar > li:nth-child(5).active .pagination-active-element {
  background: linear-gradient(to top, #e330a6, rgba(227, 48, 166, 0.7));
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}
/* line 134, ../sass/screen.scss */
.slider > .pagination-wrap > .pagination-bar > li:nth-child(5) .pagination-active-element:before {
  content: "5";
}
/* line 141, ../sass/screen.scss */
.slider > .pagination-wrap > .pagination-bar > li:nth-child(6).active .pagination-active-element {
  background: linear-gradient(to top, #2870c4, rgba(40, 112, 196, 0.7));
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}
/* line 147, ../sass/screen.scss */
.slider > .pagination-wrap > .pagination-bar > li:nth-child(6) .pagination-active-element:before {
  content: "6";
}
/* line 152, ../sass/screen.scss */
.slider > .pagination-wrap > .pagination-bar > li:last-child {
  margin-right: -1px;
}
/* line 156, ../sass/screen.scss */
.slider > .pagination-wrap > .pagination-bar > li.active > .pagination-active-element {
  background: linear-gradient(to top, #47b616, rgba(71, 182, 22, 0.7));
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}
/* line 159, ../sass/screen.scss */
.slider > .pagination-wrap > .pagination-bar > li.active > .pagination-active-element:before {
  color: #fff;
}
/* line 164, ../sass/screen.scss */
.slider > .pagination-wrap > .pagination-bar > li > .pagination-active-element {
  height: 34px;
  width: 34px;
  background: transparent;
  position: absolute;
  border-radius: 50%;
  top: -25px;
  z-index: 100;
  left: 3px;
}
/* line 173, ../sass/screen.scss */
.slider > .pagination-wrap > .pagination-bar > li > .pagination-active-element:before {
  content: " ";
  color: #a3a3a3;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 40px;
  top: -3px;
  left: 12px;
  position: absolute;
}
/* line 188, ../sass/screen.scss */
.slider .arrow-btn {
  position: absolute;
  top: 150px;
  width: 92px;
  height: 92px;
  font: 12pt arial, tahoma, sans-serif;
  text-align: center;
  border: none;
  background: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}
/* line 200, ../sass/screen.scss */
.slider .arrow-btn:hover {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
/* line 203, ../sass/screen.scss */
.slider .arrow-btn:focus {
  outline: none;
}
/* line 206, ../sass/screen.scss */
.slider .arrow-btn:active {
  background: #f0f0f0;
  border: none;
  box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.1);
}
/* line 211, ../sass/screen.scss */
.slider .arrow-btn:active.left:before {
  top: 6%;
}
/* line 214, ../sass/screen.scss */
.slider .arrow-btn:active.left:after {
  top: 40%;
}
/* line 219, ../sass/screen.scss */
.slider .arrow-btn:active.right:before {
  top: 6%;
}
/* line 222, ../sass/screen.scss */
.slider .arrow-btn:active.right:after {
  top: 40%;
}
/* line 227, ../sass/screen.scss */
.slider .arrow-btn.left {
  left: 0px;
}
/* line 230, ../sass/screen.scss */
.slider .arrow-btn.left:before {
  content: '';
  position: absolute;
  top: 7%;
  left: 40%;
  height: 54%;
  width: 6%;
  background: #47b616;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
/* line 244, ../sass/screen.scss */
.slider .arrow-btn.left:after {
  content: '';
  position: absolute;
  top: 41%;
  left: 40%;
  height: 54%;
  width: 6%;
  background: #47b616;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
/* line 259, ../sass/screen.scss */
.slider .arrow-btn.right {
  right: 0px;
}
/* line 262, ../sass/screen.scss */
.slider .arrow-btn.right:before {
  content: '';
  position: absolute;
  top: 7%;
  right: 40%;
  height: 54%;
  width: 6%;
  background: #47b616;
  -webkit-transform: rotateZ(135deg);
  -moz-transform: rotateZ(135deg);
  -ms-transform: rotateZ(135deg);
  -o-transform: rotateZ(135deg);
  transform: rotateZ(135deg);
}
/* line 276, ../sass/screen.scss */
.slider .arrow-btn.right:after {
  content: '';
  position: absolute;
  top: 41%;
  right: 40%;
  height: 54%;
  width: 6%;
  background: #47b616;
  -webkit-transform: rotateZ(-135deg);
  -moz-transform: rotateZ(-135deg);
  -ms-transform: rotateZ(-135deg);
  -o-transform: rotateZ(-135deg);
  transform: rotateZ(-135deg);
}
/* line 292, ../sass/screen.scss */
.slider .content {
  margin: 20px auto;
  width: 720px;
  height: 320px;
  position: relative;
  top: 40px;
}
/* line 298, ../sass/screen.scss */
.slider .content > .image {
  width: 338px;
  height: 338px;
  background-color: white;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  float: left;
}
/* line 306, ../sass/screen.scss */
.slider .content > .image:after {
  content: " ";
  position: absolute;
  bottom: -22px;
  left: -5px;
  width: 348px;
  height: 348px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
/* line 317, ../sass/screen.scss */
.slider .content > .text-block {
  display: inline-block;
  width: 380px;
  float: right;
  position: absolute;
  top: 35%;
  left: 50%;
  font-family: Verdana, Arial, sans-serif;
}
/* line 325, ../sass/screen.scss */
.slider .content > .text-block > .title {
  font-size: 1.714em;
  color: #47b616;
  margin-bottom: 10px;
}
/* line 330, ../sass/screen.scss */
.slider .content > .text-block > .text {
  font-size: 0.929em;
  line-height: 18px;
  margin: 0;
}
/* line 335, ../sass/screen.scss */
.slider .content > .text-block > .text > a:hover {
  text-decoration: none;
}
